@import url('https://fonts.googleapis.com/css2?family=Doppio+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

  .blob {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-image: linear-gradient(#1100ff7c 30%, #ff00f28a);
    filter: blur(250px);
    transition: all 250ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
}


body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Doppio One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-100px * 16)); } /* Updated to fit doubled items */
}

.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}

.slide-track {
  animation: scroll 15s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100px * 32);
}

.slide {
  width: 100px;
}